{% extends "core/base.html" %}

{% block title %} Nuevo Chat {% endblock title %}

{% block content %}
<h1 class="mb-1">Nuevo Chat</h1>

<form class="form-group" method="post" action=".">
    {% csrf_token %}
    <div class="py-2 form-group">
        {{ form.as_p }}
    </div>
    {% if form.errors or form.non_field_erros %}
        <div class="mb-2 p-3 bg-error rounded-3">
            {% for field in form %}
                {{ field.errors }}
            {% endfor %}
            {{ form.non_field_erros }}
        </div>
    {% endif %}
    <button class="btn btn-primary px-4 py-3">Enviar</button>
</form>
{% endblock content %}