{% extends "core/base.html" %}

{% block title %}{{ pet.name }}{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-6">
        <img src="{{ pet.image.url }}" width="100%" height="auto" class="rounded" alt="{{ pet.name }}">
      </div>
      <div class="col-6 bg-light rounded">
        <h1>{{ pet.name }}</h1>
        {% if pet.description %}<p><strong>Descripcion:</strong> {{ pet.description }}</p>{% endif %}
        <p class="text-secondary"><strong>Propietario:</strong> {{ pet.created_by }}</p>
        <p class="text-secondary"><strong>Edad:</strong> {{ pet.age }} año/s</p>
        {% if pet.race %}<p><strong>Raza:</strong> {{ pet.race }}</p>{% endif %}
        <a href='#' class="btn btn-primary">Contactar</a>
      </div>
    </div>
  </div>
{% endblock content %}