{% extends "core/base.html" %}
{% block title %}
    Bienvenido
{% endblock title %}
{% block content %}
    <div class="px-3 py-5 bg-light rounded">
        <h2 class="mb-5 display-3 text-center">Mis Mascotas</h2>
    </div>
    <div class="row bg-light">
        {% for pet in pets %}
            <a href="{% url 'pet:detail' pet.id %}" class="col-sm-3 text-decoration-none text-reset">
                <div class="card">
                        {% if pet.image %}
                            <img src="{{ pet.image.url }}" class="card-img-top" alt="{{ pet.description }}" height="auto" width="auto">
                        {% endif %}

                    <div class="card-body">
                        <h5 class="card-title">{{ pet.name }}</h5>
                        <p class="card-text">{{ pet.description }}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <ul class="list-group list-group-flush w-100">
                            <li class="list-group-item w-100">
                                <small class="text-muted">{{ pet.create_at }}</small>
                            </li>
                            <li class="list-group-item w-100">
                                <small class="text-muted">{{ pet.age }} años</small>
                            </li>
                            <li class="list-group-item w-100">
                                <small class="text-muted">{{ pet.specie }}</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock content %}
